.header {
    width: 1280px;
    margin: 0 auto;
    background: #1C1C21;
}

.link {
    color: var(--text-inactive-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link_active {
    color: var(--text-primary-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box {
    display: flex;    
}